@page "/Admin"
@inherits AppComponentBase
@using DotCast.App.Shared


<PageProgress Visible="@IsProcessingRunning" />

<Button Clicked="async () => await uploadModalRef.Show()" Color="Color.Success">
    Upload new
</Button>
<Button Clicked="async () => await uploadModalRef.Show()" Color="Color.Success">
    Upload multiple hew
</Button>
<hr />
<Button Disabled="@IsProcessingRunning" Clicked="RestoreAudioBooksFromStorage" Color="Color.Warning">
    Restore audiobooks from Storage
</Button>
<Button Disabled="@IsProcessingRunning" Clicked="async ()=>await ReprocessAudioBooksFromStorage(false)" Color="Color.Warning">
    Reprocess audiobooks from Storage (No Unzip)
</Button>
<Button Disabled="@IsProcessingRunning" Clicked="async ()=>await ReprocessAudioBooksFromStorage(true)" Color="Color.Warning">
    Reprocess audiobooks from Storage (Unzip)
</Button>

@if (IsProcessingRunning)
{
    <span>
        Currently @CountOfRunningProcessings processings running.
    </span>
}


<Modal @ref="uploadModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Upload AudioBook</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <h3></h3>
            <p>Enter AudioBook name</p>
            <TextEdit TextChanged="BookNameTextChanged" />
            <p>Id: @newAudioBookId</p>
            @if (ReadyForUpload)
            {
                <p>
                    <label>
                        <FileUpload PresignedUrlFactory="files => GetPresignedUrls(newAudioBookId!,files)" />
                    </label>
                </p>
            }
        </ModalBody>
    </ModalContent>
</Modal>
<Modal @ref="uploadMultipleModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Upload multiple audioBooks AudioBook</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <p>
                <label>
                    <FileUpload PresignedUrlFactory="GetPresignedUrls" />
                </label>
            </p>
        </ModalBody>
    </ModalContent>
</Modal>