@page "/AudioBook/{Id}/edit"

<Image Class="CoverImage" src="@Image" />
<Row>
    <Rating ReadOnly="true" SelectedValue="@((int)Math.Round(Rating / 20.0))" />
</Row>

<Row>
    <Column ColumnSize="ColumnSize.IsHalf">
    <Field >
        <FieldLabel>Name</FieldLabel>
        <FieldBody>
            <TextEdit @bind-Text="@Name"/>
        </FieldBody>
    </Field>
    </Column>
    <Column ColumnSize="ColumnSize.IsHalf">
        <Field >
            <FieldLabel>Author</FieldLabel>
            <FieldBody>
                <TextEdit @bind-Text="@AuthorName">
                </TextEdit>
            </FieldBody>
        </Field>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.IsHalf">
        <Field >
            <FieldLabel>Series Name</FieldLabel>
            <FieldBody>
                <TextEdit @bind-Text="@SeriesName"/>
            </FieldBody>
        </Field>
    </Column>
    <Column ColumnSize="ColumnSize.IsHalf">
        <Field >
            <FieldLabel>Order in series</FieldLabel>
            <FieldBody>
                <NumericPicker @bind-Value="OrderInSeries" Min="0" />
            </FieldBody>
        </Field>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.IsFull">

        <Field>
            <FieldLabel>Description</FieldLabel>
            <FieldBody>
                <TextEdit @bind-Text="Description"/>
            </FieldBody>
        </Field>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Field >
            <FieldLabel>Upload files</FieldLabel>
            <FieldBody>                
                <FileEdit Changed="FilesSelected"></FileEdit>
            </FieldBody>
        </Field>
    </Column>

</Row>
<Row>
    <Column>

        <Button Color="Color.Primary" Clicked="@SaveAndExit">
            Save
        </Button>

    </Column>

</Row>

@if (Suggestions.Count > 0)
{
    <hr/>
    <b>Suggestions:</b>

    <Row>
        @foreach (var suggestion in Suggestions)
        {
        
            <Card Class="suggestion">
                <CardImage Source="@suggestion.ImgUrl" />
                <CardBody>
                    <h1>@suggestion.Title</h1>
                    <b>@suggestion.Author</b>
                    @if (!string.IsNullOrWhiteSpace(suggestion.SeriesName))
                    {
                        <div><span>@suggestion.SeriesName</span> - <span>@suggestion.OrderInSeries</span></div>
                    }
                    <p>@suggestion.Description</p>
                    <Rating ReadOnly="true" SelectedValue="@((int)Math.Round(Rating / 20.0))" /> <br />
                    <Button Color="Color.Link" Clicked="@(() => Prefill(suggestion))">Select</Button>
                </CardBody>
            </Card>
        }
    </Row>
}
