@page "/"

<Layout Sider>
    <LayoutSider>
        <div class="authors">
            <span>Authors</span>
            @foreach (var authorName in Data.Select(t => t.AuthorName).Distinct().OrderBy(t => t))
            {
                <a class="authorLink" onclick="@($"document.getElementById('{authorName.Replace(" ", "")}').scrollIntoView({{behavior:'smooth'}})")">
                    <div>@authorName</div></a>
            }
        </div>
    </LayoutSider>
    <LayoutContent>
        <div class="header">
            <div class="stat"> Titles: <Icon Name="IconName.Book" /> @AudioBooksStatistics?.TotalCount</div>
            <div class="stat"> Authors: <Icon Name="IconName.Users" />@AudioBooksStatistics?.AuthorCount</div>
            <div class="stat">Duration: <Icon Name="IconName.Clock" />@Math.Floor(AudioBooksStatistics?.TotalDuration.TotalHours ??0) hours</div>
            <Field >
                <TextEdit Placeholder="Search" TextChanged="SearchTextChanged"/>
            </Field>
        </div>

        @foreach (var author in Data.GroupBy(t => t.AuthorName).OrderBy(t => t.Key))
        {
            <a id="@author.Key.Replace(" ", "")">
            </a>
            <Divider DividerType="DividerType.TextContent" Text="@author.Key"></Divider>
            @foreach (var series in author.GroupBy(info => info.SeriesName?.ToLower().Trim()))
            {
                @if (!string.IsNullOrWhiteSpace(series.Key))
                {
                    <div class="seriesDivider">@series.Key</div>
                }
                <div class="c-container">

                    @foreach (var audioBook in series.OrderBy(info => info.OrderInSeries).ThenBy(info => info.Name))
                    {
                        <div class="c-card">
                            <div class="c-card-header">
                                <img src="@audioBook.ImageUrl"/>
                            </div>
                            <div class="c-card-body">

                                <h3>@audioBook.Name</h3>

                                <div class="user">
                                    <b>@author.Key</b>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(audioBook.SeriesName))
                                {
                                    <b>@audioBook.SeriesName - @audioBook.OrderInSeries</b>
                                }

                                <p class="description" title="@audioBook.Description">
                                    @audioBook.Description
                                </p>
                                <div>
                                    <Rating ReadOnly="true" SelectedValue="@((int)Math.Round(audioBook.Rating / 20.0))"/> <span>@audioBook.Rating %</span>
                                </div>
                            </div>
                            <div class="c-card-footer">
                                
                                    <span>
                                        <Icon Name="IconName.Clock"/> @audioBook.Duration.ToString(@"hh\:mm")
                                    </span>
                                @if (audioBook.ReadyForDownload)
                                {
                                    <Button class="button" Clicked="async () => await Download(audioBook)">
                                        <Icon Name="IconName.Download"></Icon>
                                    </Button>
                                }
                                <a class="button" href="@($"AudioBook/{audioBook.Id}/rss")">
                                    <Icon Name="IconName.Rss"></Icon>
                                </a>
                                <a class="button" href="@($"AudioBook/{audioBook.Id}/edit")">
                                    <Icon Name="IconName.Edit"></Icon>
                                </a>
                            </div>
                        </div>
                    }
                </div>

            }
        }
    </LayoutContent>
</Layout>
