@page "/"

<Layout Sider>
    <LayoutSider>
        <div class="authors">
            <span>Authors</span>
            @foreach (var authorName in Data.Select(t => t.AuthorName).Distinct().OrderBy(t => t))
            {
                <a class="authorLink" onclick="@($"document.getElementById('{authorName.Replace(" ", "")}').scrollIntoView({{behavior:'smooth'}})")">
                    <div>@authorName</div></a>
            }
        </div>
    </LayoutSider>
    <LayoutContent>
        <div class="header">
            <div class="stat"> Titles: <Icon Name="IconName.Book" /> @PodcastsStatistics?.TotalCount</div>
            <div class="stat"> Authors: <Icon Name="IconName.Users" />@PodcastsStatistics?.AuthorCount</div>
            <div class="stat">Duration: <Icon Name="IconName.Clock" />@Math.Floor(PodcastsStatistics?.TotalDuration.TotalHours ??0) hours</div>
            <Field >
                <TextEdit Placeholder="Search" TextChanged="async (t) => await SearchTextChanged(t)"/>
            </Field>
        </div>

        @foreach (var author in Data.GroupBy(t => t.AuthorName).OrderBy(t => t.Key))
        {
            <a id="@author.Key.Replace(" ", "")">
            </a>
            <Divider DividerType="DividerType.TextContent" Text="@author.Key"></Divider>
            @foreach (var series in author.GroupBy(info => info.SeriesName?.ToLower().Trim()))
            {
                @if (!string.IsNullOrWhiteSpace(series.Key))
                {
                    <div class="seriesDivider">@series.Key</div>
                }
                <div class="c-container">

                    @foreach (var podcast in series.OrderBy(info => info.OrderInSeries).ThenBy(info => info.Name))
                    {
                        <div class="c-card">
                            <div class="c-card-header">
                                <img src="@podcast.ImageUrl"/>
                            </div>
                            <div class="c-card-body">

                                <h3>@podcast.Name</h3>

                                <div class="user">
                                    <b>@author.Key</b>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(@podcast.SeriesName))
                                {
                                    <b>@podcast.SeriesName - @podcast.OrderInSeries</b>
                                }

                                <p class="description" title="@podcast.Description">
                                    @podcast.Description
                                </p>
                                <Rating ReadOnly="true" SelectedValue="@(podcast.Rating/20)" />

                            </div>
                            <div class="c-card-footer">
                                @if (podcast.Duration != null)
                                {
                                    <span>
                                        <Icon Name="IconName.Clock"/> @podcast.Duration.Value.ToString(@"hh\:mm")
                                    </span>
                                }
                                @if (PodcastDownloader.IsDownloadSupported(podcast.Id))
                                {
                                    <Button class="button" Clicked="async () => await Download(podcast)">
                                        <Icon Name="IconName.Download"></Icon>
                                    </Button>
                                }
                                <a class="button" href="@podcast.Url">
                                    <Icon Name="IconName.Rss"></Icon>
                                </a>
                                <a class="button" href="@($"{podcast.Url}/edit")">
                                    <Icon Name="IconName.Edit"></Icon>
                                </a>
                            </div>
                        </div>
                    }
                </div>

            }
        }
    </LayoutContent>
</Layout>